<!-- <p>homepage works!</p> -->
<!-- <p>homepage works!</p> -->

<div class="container main-container ">
  <div class="row main-row " >

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  div-align content">
      <h2>
        Perform summarization <br> of data using <b style="color: rgb(90, 11, 218);">Summarize-IT</b>
      </h2>
      <hr>
      <h4 style="color: rgb(88, 88, 88);">
        <!-- Summarize using Summarize-IT <br> and save your time and efforts <br> for reading the whole data. -->
        Save you time and efforts by generating summary on Summarize-IT. Enjoy the efficient and quick summary generation on single click!
      </h4>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  content">
      <h2 style="color: rgb(90, 11, 218);">
        <i class="fa fa-angle-right icon" aria-hidden="true"></i>
        <b>Get started</b>
      </h2>
      <h5>Summarize the information</h5>
      <hr style="margin-top: 20.5px;">
      <div>
        <button class="btn btn-outline-primary btn-design btn-align" (click)="onUsingText()">
        <i class="fa fa-align-center icon" aria-hidden="true"></i>Using Text</button>
        <button class="btn btn-outline-secondary btn-design btn-align" (click)="onUsingUrl()">
          <i class="fa fa-link icon" aria-hidden="true"></i>Using Url</button>
        <button class="btn btn-outline-success btn-design" (click)="onUsingFile()">
          <i class="fa fa-file icon" aria-hidden="true"></i>Using File</button>
      </div>
    </div>

  </div>
  <div class="row " style="height: 50px;">

  </div>
</div>

