<!-- <p>summarize-file works!</p> -->
<!-- <p>summarize-file works!</p> -->
<div class="container main-container ">
  <form class="formGroup" [formGroup]="fileLinkForm">
    <div class="row">
      <div class="col-lg-12 ">
        <h3 class="text-design">
          <i class="fa fa-file icon"></i>
          Summarization from File
        </h3>
        <hr>
      </div>
    </div>
    <div class="row justify-content-center ">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  ">
        <h4 class="input_heading">
          <i class="fa fa-bars icon" aria-hidden="true"></i>
            Input: <span style="font-size: 20px; color: darkorange;">(only .pdf and .txt)</span>
        </h4>
        <input class="form-control-file btn-file" type="file" accept=".pdf, .txt" name="fileLink" formControlName="fileLink"
        (change)="change($event)" style="margin-top: 14px;">
        <!-- <div class="text-danger" *ngIf="fileLink.invalid && (fileLink.dirty || fileLink.touched)" >
          <i class="fa fa-times-circle icon" aria-hidden="true" ></i>Please enter text data for summarization
        </div> -->
        <br>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 btn-align ">
        <div>
          <button [disabled]="fileLinkForm.invalid" class="btn btn-outline-success btn-sh btn-item" (click)="summaryfile()"
          [ngStyle]="{cursor: fileLinkForm.invalid ? 'no-drop':'pointer'}"  >
            <i class="fa fa-play icon"></i>
            Summarize
          </button>
          <span *ngIf="flag" class="fa fa-spinner fa-pulse fa-2x fa-fw" style="vertical-align: middle; margin-left: 2px; color: rgb(12, 143, 19);"></span>
        </div>
        <br>
        <div *ngIf="data" >
          <button [disabled]="fileLinkForm.invalid" class="btn btn-outline-danger btn-sh btn-item" (click)="download()"
          [ngStyle]="{cursor: fileLinkForm.invalid ? 'no-drop':'pointer'}"  >
            <i class="fa fa-file-pdf icon"></i>
            Save as PDF
          </button>
        </div>
        <br>
        <br>

      </div>

      <div *ngIf="data" class="col-lg-5 col-md-5 col-sm-5 col-xs-5 ">
        <h4 class="input_heading">
          <i class="fa fa-bars icon" aria-hidden="true"></i>
            Output summary:
            <span style="color: rgb(15, 146, 15);">Time: {{tot_time}}</span>
        </h4>
        <textarea class="form-control summarystr" [value]="data" name="smstrUrl" id="test" readonly></textarea>
        <br>
      </div>

    </div>

  </form>

</div>
